*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#key{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    
}
#key1{
 
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: white;
 
   
}
